
<div class="user-box my-dflex-col">
  <img class="userIcon" src={{image}} alt="user image">
  <span class="searchObj">{{username}}</span>
  {{!-- Grabbing other user's id and the connection boolean --}}
  <button class="btn connectBtn" data-id="{{id}}" data-connection="{{connected}}">
    {{#if connected}}
    Disconnect
    {{else}}
    Connect
    {{/if}}
  </button>
</div>