<script src="/assets/js/events.js"></script>
<div class="wrapper">
    {{> navbar }}
    <div class="container my-dflex-col my-align-center">
        <h1>All Events</h1>
        <a href="event/new" class="btn my-bc4"><i class="material-icons my-mr-4">control_point</i>Add Event</a>
        <div class="all-events-box my-full-width">
            {{#each eventData}}
            <div class="event-box my-full-width">
                <div class="event-header">
                    <span class="event-title">{{dataValues.name}}</span>
                    <span class="event-date">{{dataValues.dateTime}}</span>
                </div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem aspernatur deleniti modi quo rem eos,
                    temporibus ipsam. In, error numquam aliquid iusto dicta vero nemo illum, autem ipsum perspiciatis
                    itaque!</p>
                <div class="btns my-mt-4">
                    <a class="btn" href="/events/{{dataValues.id}}"> Edit </a>
                    <a class="btn deleteEvent" data-id="{{dataValues.id}}" data-userId="{{dataValues.UserId}}"> Delete
                    </a>
                    <a class="btn" href=""> Share </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    {{> aiIcon}}
</div>