<script src="/assets/js/events.js"></script>
<div class="wrapper">
    {{> navbar }}
    <div class="container">
        {{#if isNewRecord}}

        <h1>New Event</h1>
        <form class="newEvent">
            <div class="checkboxes my-dflex my-justify-around">
                <label>
                    <input type="checkbox" value="true" />
                    <span>Public Event</span>
                </label>
                <label>
                    <input type="checkbox" value="true" />
                    <span>Indoor</span>
                </label>
            </div>
            <input type="datetime-local" name="dateTime" id="dateTime" size="2">
            <input type="text" name="name" id="name" placeholder="Name" />
            <input type="number" name="max_people" id="numOfPeople" placeholder="Max number of People" />
            <input type="text" name="location" id="location" placeholder="location" />
            <div class="input-field my-m-0">
                <textarea class="materialize-textarea textarea1" data-length="120" placeholder="Description (Limit: 120 characters)"></textarea>
            </div>
            <div class="input-field my-m-0">
                <select id="category">
                    <option value="Casual" selected disabled>Pick a Category</option>
                    <option value="Casual">Casual</option>
                    <option value="Sporting">Sporting</option>
                    <option value="Music">Music</option>
                    <option value="Food">Food</option>
                    <option value="Party">Party</option>
                    <option value="Meeting">Meeting</option>
                    <option value="Online">Online</option>
                    <option value="Conference">Conference</option>
                    <option value="Family">Family</option>
                    <option value="Appointment">Appointment</option>
                </select>
            </div>
            <button class="btn right my-bc4">Save</button>
        </form>
        <div class="btns my-mt-4">
            <a class="btn" href=""> Share </a>
        </div>

        {{else}}
        <h1>{{events.name}}</h1>
        <form>
            <div class="checkboxes my-dflex my-justify-around">
                <label>
                    <input type="checkbox" value="true" />
                    <span>Public Event</span>
                </label>
                <label>
                    <input type="checkbox" value="true" />
                    <span>Indoor</span>
                </label>
            </div>
            <input type="checkbox" value="{{events.isIndoor}}" />
            <input type="checkbox" value="{{events.isPublic}}" />
            <input type="datetime-local" name="dateTime" id="dateTime" value="{{events.dateTime}}">
            <input type="text" name="name" id="name" placeholder="Name" value="{{events.name}}" />
            <input type="number" name="max_people" id="numOfPeople" placeholder="Max number of People" value="{{events.max_people}}" />
            <input type="text" name="location" id="location" placeholder="location" value="{{events.location}}" />
            <input type="text" name="category" id="category" placeholder="Pick a Category" value="{{events.category}}" />
            <div class="input-field my-m-0">
                <textarea class="materialize-textarea textarea1" data-length="120" placeholder="Description (Limit: 120 characters)" value="{{events.description}}"></textarea>
            </div>
            <div class="input-field">
                <select id="category">
                    <option value="Casual" selected disabled>Pick a Category</option>
                    <option value="Casual">Casual</option>
                    <option value="Sporting">Sporting</option>
                    <option value="Music">Music</option>
                    <option value="Food">Food</option>
                    <option value="Party">Party</option>
                    <option value="Meeting">Meeting</option>
                    <option value="Online">Online</option>
                    <option value="Conference">Conference</option>
                    <option value="Family">Family</option>
                    <option value="Appointment">Appointment</option>
                </select>
            </div>
            <button class="btn right my-bc4">Save</button>
        </form>
        <div class="btns my-mt-4">
            <a class="btn deleteEvent" data-id="{{events.id}}" data-userId="{{events.UserId}}"> Delete </a>
            {{!-- <a class="btn" href=""> Share </a> --}}
        </div>
        {{/if}}
    </div>
    {{> aiIcon}}
</div>